*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Gilory'
}
html,body{
height:100%;
width:100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
        background-color: cornflowerblue;
}
#card{
    padding: 30px;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: aliceblue;
    text-align: center;
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font-size: 35px;
    margin: 10px 0;
}
#card h5{
    font-size: 25px;
    color: rgb(50, 57, 55);
    margin: 20px;
}
#card button{
    background-color: cadetblue;
    color: whitesmoke;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
/* #card #remove{
    background-color: #dadada;
    color: black;
} */